@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.controls {
  width: 40vw;
}

.box {
  text-align: center;
  padding: 20vh 0px;
  width: 40vw;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.color_section {
  border-color: transparent;
}
